#forgotPassword {
  // Vars

  // Support

  // Module
  & {
    //
  }

  // Facets

  // States
}

.forgotPasswordSize:deep {
  max-height: 60vh;
  max-width: 25vw;

  @media screen and (max-width: 1053px) {
    max-width: 40vw;
  }
  @media screen and (max-width: 800px) {
    max-width: 60vw;
  }
  @media screen and (max-width: 461px) {
    max-width: 80vw;
  }
}
